streamlit
groq
langchain
langchain-community
langchain-core
langchain-groq
pypdf
sentence-transformers


#streamlit
#groq
#langchain
#langchain-community
#langchain-groq
#faiss-cpu
#sentence-transformers
#pypdf
#python-dotenv
#pathlib
